**/*.pdf
**/*.csv
**/*.jpg
**/*.svg
**/*.asv
**/*.png
**/*.tif
**/*.tiff
**/*.key
data/
results/
.DS_Store
**/python_self-organising-regulation/.idea/
*.idea/
**/.idea/
*.idea/*
python_self-organising-regulation/.idea/workspace.xml*
**/*.pptx
**/*.gz
**/*.out
**/*.log
**/*.aux
Wild Ideas/Antsy metabolism.docx
python_self-organising-regulation/.idea/libraries/R_User_Library.xml
python_self-organising-regulation/.idea/misc.xml
python_self-organising-regulation/.idea/modules.xml
python_self-organising-regulation/.idea/python_self-organising-regulation.iml
python_self-organising-regulation/.idea/vcs.xml
python_self-organising-regulation/.idea/workspace.xml
.pptx
.gz
.out
.log
.aux
Wild Ideas/Antsy metabolism.docx
