.idea
.DS_Store
data
ecmtool.egg-info
ecmtoollocal
build
dist
*.pyc
venv/bin/
venv/
venv/lib/python3.7/site-packages/__pycache__/
conversion_cone.csv
intermediate_conversion_cone.csv
*.png
*.svg
results_and_corresponding_runscripts/**
*.csv
results_and_corresponding_runscripts/iIT341_results_runscripts/iIT.csv
*.csv
results_and_corresponding_runscripts/iIT341_results_runscripts/iIT.csv
ecntoollocal/
.idea/inspectionProfiles/Project_Default.xml
*.ini
*.bak
lrslib-071a/
ecmtool_timestamps/
/lrslib-071a.tar.gz
